class {
    onCreate() {
        this.state = { count:0 };
    }
    increment() {
        this.state.count++;
    }
}

<div.count>
    ${state.count}
</div>
<button class="btn btn-large" on-click('increment')>Click me!</button>
