.input {
	position: relative;
	font-size: 1.5em;
	background: linear-gradient(21deg, red, purple);
	padding: 3px;
	display: inline-block;
	border-radius: 9999em;
	*:not(span) {
		position: relative;
		display: inherit;
		border-radius: inherit;
		margin: 0;
		border: none;
		outline: none;
		padding: 0 0.325em;
		z-index: 1;
		height: 5rem;
		width: 5rem;
		&:focus + span {
			opacity: 1;
			transform: scale(1);
		}
	}
	span {
		transform: scale(0.993, 0.94);
		transition: transform 0.5s, opacity 0.25s;
		opacity: 0;
		position: absolute;
		z-index: 0;
		margin: 4px;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		border-radius: inherit;
		pointer-events: none;
		box-shadow: inset 0 0 0 3px #fff, 0 0 0 4px #fff, 3px -3px 30px purple, -3px 3px 30px red;
	}
}

html::after {
	content: '';
	background: linear-gradient(21deg, purple, red);
	height: 3px;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
