/**
 * Footer class
 */
class {
    onCreate() {
        this.state = {
            timer: new Date()
        };
    }
}

<footer class="site-footer">
    <span class="pull-left">
        <a href="https://fabricionogueira.me" target="_blank">© Fabricio Nogueira</a> ${state.timer.getFullYear()}
    </span>
    <span class="pull-right">
        <a href="mailto:nogsantos@gmail.com">nogsantos@gmail.com</a>
    </span>
</footer>
